<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lego query</title>
<link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.1.3/socket.io.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.2/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@vue/composition-api@1.0.5"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-echarts@6.0.0"></script>
<style type="text/css">
.mainTab { margin-top: 15px; margin-bottom: 15px; }
.avlTbl th { background-color: #f7f7f7; }
.na { color: #999; }
.error { color: #f00; }
.taskStatus { margin-bottom:15px;position: absolute;right:15px; }
.item-input { width: 500px; }

@media (max-width: 580px) {
  .taskStatus { position: relative; margin: 15px 0; padding-bottom: 10px; right: 0; border-bottom: 1px solid #eaeaea; }
  .item-input { width: 100%; }
}
</style>
</head>
<body>

<div id="app" class="container-fluid">
    <div class="taskStatus">
      <span v-if="taskNum > 0" style="color:#999;">{{ taskNum }} tasks running.</span>
      <span v-else style="color:#999;">Last update: {{ updateTime }}</span>
      <button class="btn btn-warning btn-sm" @click="refresh" style="margin-left:15px;" :disabled="taskNum > 0">Update</button>
    </div>

    <ul class="nav nav-tabs mainTab">
      <li class="nav-item">
        <a :class="'nav-link' + (site == 'bricklink' ? ' active' : '')" @click="switchList('bricklink')" href="javascript:void(0)">bricklink</a>
      </li>
      <li class="nav-item">
        <a :class="'nav-link' + (site == 'lego' ? ' active' : '')" @click="switchList('lego')" href="javascript:void(0)">Lego</a>
      </li>
    </ul>

    <div style="border-top: 1px solid #eaeaea; padding-top: 8px;">
      <div class="input-group mb-3 item-input">
        <input type="text" class="form-control" v-model="itemId" placeholder="">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" @click="addItem">Add</button>
        </div>
      </div>
    </div>

    <!-- bricklink begin -->
    <template v-if="site == 'bricklink'">
        <table class="table" style="min-width:930px;">
          <thead>
            <tr>
              <th width="10%">ID</th>
              <th>Name</th>
              <th width="15%"><a @click="handleSort('price')" href="javascript:void(0)">Price <i v-if="sortField=='price'" :class="'bi-sort-'+(sortAsc?'up':'down')"></i></a></th>
              <th width="15%"><a @click="handleSort('qty')" href="javascript:void(0)">Qty <i v-if="sortField=='qty'" :class="'bi-sort-'+(sortAsc?'up':'down')"></i></a></th>
              <th width="15%"><a @click="handleSort('sellers')" href="javascript:void(0)">Sellers <i v-if="sortField=='sellers'" :class="'bi-sort-'+(sortAsc?'up':'down')"></i></a></th>
              <th width="18%">Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in listItem">
              <th>{{ item.item_id }} <span v-if="item.status==1||item.status==0" class="spinner-border spinner-border-sm"></span></th>
              <template v-if="item.status != -1">
                <td><a v-if="item.detail" :href="item.detail.detail_url" target="_blank">{{ item.detail.name }}</a></td>
                <td><span v-if="item.detail">{{ item.detail.new_price }}</span></td>
                <td><span v-if="item.detail">{{ item.detail.new_qty }}</span></td>
                <td><span v-if="item.detail">{{ item.detail.new_sellers }}</span></td>
              </template>
              <template v-else>
                <td colspan="4">Error</td>
              </template>
              <td>
                <button class="btn btn-danger btn-sm" @click="delItem(item.item_id)">Remove</button>
                <button class="btn btn-info btn-sm" @click="refreshItem(item.item_id)" :disabled="item.status==1||item.status==0"><i class="bi bi-arrow-clockwise"></i></button>
                <button class="btn btn-info btn-sm" @click="showLog(item)"><i class="bi bi-graph-down"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
    </template>
    <!-- bricklink end -->

    <!-- lego begin -->
    <template v-if="site == 'lego'">
        <table class="table" style="min-width: 1050px;">
          <thead>
            <tr>
              <th width="8%">ID</th>
              <th width="10%">Name</th>
              <th>Regions</th>
              <th width="15%">Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in listItem">
              <th>{{ item.item_id }} <span v-if="item.status==0||item.status==1" class="spinner-border spinner-border-sm"></span></th>
              <template v-if="item.status != -1">
                <td>{{ item.name }}</td>
                <td>
                  <table v-if="item.regions" class="table table-bordered avlTbl">
                    <tr>
                      <th>Region</th>
                      <th width="16%" v-for="(dtl, region) in item.regions">
                        <a v-if="dtl" :href="dtl.detail_url" target="_blank">{{ region }}</a>
                        <a v-else>{{ region }}</a>
                      </th>
                    </tr>
                    <tr>
                      <th>Flags</th>
                      <td v-for="dtl in item.regions">
                        <span v-if="dtl===0" class="spinner-border spinner-border-sm"></span>
                        <template v-else-if="dtl===-1"><span class="error">Error</span></template>
                        <template v-else-if="dtl">{{ dtl.flags }}</template>
                        <template v-else><span class="na">N/A</span></template>
                      </td>
                    </tr>
                    <tr>
                      <th>Availability</th>
                      <td v-for="dtl in item.regions">
                        <span v-if="dtl===0" class="spinner-border spinner-border-sm"></span>
                        <template v-else-if="dtl===-1"><span class="error">Error</span></template>
                        <template v-else-if="dtl">{{ dtl.avls }}</template>
                        <template v-else><span class="na">N/A</span></template>
                      </td>
                    </tr>
                  </table>
                </td>
              </template>
              <template v-else>
                <td colspan="2">Error</td>
              </template>
              <td>
                <button class="btn btn-danger btn-sm" @click="delItem(item.item_id)">Remove</button>
                <button class="btn btn-info btn-sm" @click="refreshItem(item.item_id)" :disabled="item.status==1||item.status==0"><i class="bi bi-arrow-clockwise"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
    </template>
    <!-- lego end -->

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <v-chart autoresize :option="option" style="height: 400px"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              关闭
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>

<script>
var baseUrl = "/";
var socket = io.connect(baseUrl+'ws');

Vue.component("v-chart", VueECharts);

var mainApp = new Vue({
    el: "#app",
    data: {
        site: 'bricklink',
        listItem: [],
        itemId: '',
        taskNum: 0,
        updateTime: '',
        regions_loc: {},
        sortField: 'qty',
        sortAsc: false,
        option: {}
    },
    mounted: function() {
        this.initPage();
    },
    methods: {
        initPage() {
          var that = this;
          var site = $.cookie('lego_site');
          if (typeof site != 'undefined') {
            this.$data.site = site;
          }

          var sortField = $.cookie('lego_sortField');
          if (typeof sortField != 'undefined') {
            this.$data.sortField = sortField;
          }

          var sortAsc = $.cookie('lego_sortAsc');
          if (typeof sortAsc != 'undefined') {
            this.$data.sortAsc = sortAsc=='1' ? false : true;
          }

          socket.on('onUpdate', function(msg){
            console.log('onUpdate', msg);
            if(msg.site != that.$data.site){
              console.log('skip update:',msg);
              return;
            }
            var index = that.$data.listItem.findIndex(v => v.item_id == msg['item_id']);
            that.$data.listItem.splice(index, 1, msg);
            if(msg.site=='bricklink'){
              that.sortList();
            }else{
              that.sortLego();
            }
          });

          this.getList();
        },
        switchList(site) {
            if (site == this.$data.site) {
              return;
            }
            this.$data.listItem = [];
            this.$data.site = site;
            $.cookie('lego_site', site, {expires: 365});
            this.getList();
        },
        getList() {
          var that = this;
          var site = this.$data.site;
          $.getJSON(baseUrl+'list', {site: site}, function(res) {
            if(res.errcode != 0){
              alert('获取列表失败');
              return;
            }
            that.$data.listItem = res.items;
            that.$data.taskNum = res.tasks;
            that.$data.updateTime = res.updateTime;
            if (res.regions_loc) {
              that.$data.regions_loc = res.regions_loc
            }
            if (site == 'bricklink') {
              that.sortList();
            } else {
              that.sortLego();
            }
          });
        },
        sortLego() {
          this.$data.listItem.sort(this.sortLegoAsc);
        },
        sortLegoAsc(a, b) {
          return a.item_id - b.item_id;
        },
        addItem() {
            var that = this;
            var itemId = this.$data.itemId;
            var site = this.$data.site;

            // socket.emit('add', {item_id: itemId, site: site});

            // return;
            $.ajax({
              url: baseUrl+'add',
              dataType: 'json',
              type: 'post',
              data: {'item_id': itemId, 'site': site},
              success: function(res) {
                if(res.errcode != 0){
                  alert(res.errmsg);
                  return;
                }
                that.$data.listItem.push({item_id: itemId, site: site, status: 0})
                that.$data.itemId = '';
              },
              error: function() {
                alert('添加失败');
              }
            });
        },
        refreshItem(item_id) {
          var that = this;
          $.ajax({
            url: baseUrl+'refreshItem',
            dataType: 'json',
            type: 'post',
            data: {'item_id': item_id, 'site': this.$data.site},
            success: function(res) {
              if(res.errcode != 0){
                alert(res.errmsg);
                return;
              }
            },
            error: function() {
              alert('刷新失败');
            }
          });
        },
        showLog(row) {
          const labels = [];
          const prices = [];
          const qtys = [];
          const sellers = [];
          if (typeof row.history != 'undefined') {
            for(var k in row.history) {
              var d = row.history[k];

              var patt = new RegExp("[0-9.,]+");
              var res = patt.exec(d.price);
              if (null === res) {
                price = 0;
              } else {
                price = parseInt(res[0].replace(/,/, ''));
              }
              labels.push(k);
              prices.push(price);
              qtys.push(d.qty);
              sellers.push(d.sellers);
            }
          }

          const option = {
            tooltip: {
              trigger: 'axis'
            },
            legend: {
              data: ['Qty', 'Seller', 'Price']
            },
            xAxis: {
              type: 'category',
              data: labels
            },
            yAxis: {
              type: 'value'
            },
            series: [
              {
                name: 'Qty',
                data: qtys,
                type: 'line'
              },
              {
                name: 'Seller',
                data: sellers,
                type: 'line'
              },
              {
                name: 'Price',
                data: prices,
                type: 'line'
              }
            ]
          };
          this.$data.option = option;

          $('#dataModal').modal('show');
        },
        addItemCallback(evt){
          console.log(evt)
        },
        delItem(itemId) {
            var that = this;
            $.ajax({
              url: baseUrl+'del',
              dataType: 'json',
              type: 'post',
              data: {'item_id': itemId, 'site': this.$data.site},
              success: function(res) {
                if(res.errcode != 0){
                  alert(res.errmsg);
                  return;
                }
                that.getList();
              },
              error: function() {
                alert('删除失败');
              }
            });
        },
        refresh() {
            var that = this;
            $.getJSON(baseUrl+'refresh', {site: this.$data.site}, function(res){
              if(res.errcode != 0){
                alert(res.errmsg)
                return
              }
              that.$data.taskNum = res.tasks
            })
        },
        handleSort(field) {
          var sortField = this.$data.sortField;
          var sortAsc = this.$data.sortAsc;
          if (sortField != field) {
            sortAsc = false;
          } else {
            sortAsc = !sortAsc;
          }
          this.$data.sortField = field;
          this.$data.sortAsc = sortAsc;
          this.sortList();
          $.cookie('lego_sortField', field, {expires: 365});
          $.cookie('lego_sortAsc', sortAsc ? '0' : '1', {expires: 365});
        },
        sortList() {
          var sortAsc = this.$data.sortAsc;
          var field = this.$data.sortField;
          if(field == 'qty') {
            this.$data.listItem.sort(sortAsc ? this.sortByQtyAsc : this.sortByQtyDesc);
          } else if(field == 'sellers') {
            this.$data.listItem.sort(sortAsc ? this.sortBySellerAsc : this.sortBySellerDesc);
          } else if(field == 'price') {
            this.$data.listItem.sort(sortAsc ? this.sortByPriceAsc : this.sortByPriceDesc);
          }
        },
        sortByQtyAsc(a, b) {
          return a.detail.new_qty - b.detail.new_qty;
        },
        sortByQtyDesc(a, b) {
          return b.detail.new_qty - a.detail.new_qty;
        },
        sortBySellerAsc(a, b) {
          return a.detail.new_sellers - b.detail.new_sellers;
        },
        sortBySellerDesc(a, b) {
          return b.detail.new_sellers - a.detail.new_sellers;
        },
        sortByPriceAsc(a, b) {
          return this.toInt(a.detail.new_price) - this.toInt(b.detail.new_price);
        },
        sortByPriceDesc(a, b) {
          return this.toInt(b.detail.new_price) - this.toInt(a.detail.new_price);
        },
        toInt(s) {
          return parseInt(s.split(' ')[1].replace(',',''));
        }
    }
});
</script>
</body>
</html>